<div class="toolbar" role="banner">
  <img
    width="60"
    alt="mylogo"
    src="assets/images/logo.png"
  />
  <span>&nbsp;&nbsp;ICIN BANK&nbsp;&nbsp;&nbsp;</span>
      <a class="nav-link" routerLink="/user/home">Home</a>
      <a class="nav-link" routerLink="/user/home"> <select><option>Branches</option> <option>India</option><option>America</option><option>Japan</option><option>London</option><option>Moscow</option><option>China</option><option>Germany</option><option>UAE</option></select></a>
      <a class="nav-link" routerLink="/user/home"> <select><option>Payments</option> <option>UPI</option><option>GPay</option><option>Paytm</option><option>BHIM</option><option>RaserPay</option><option>e-pay</option></select></a>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <a class="nav-link" routerLink="/login">Log in&nbsp;&nbsp;&nbsp;</a>  
    
</div>


<app-image-slider></app-image-slider>
<router-outlet></router-outlet>
<br>
